In [9]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\shetty_sachin_kumar@lilly.com\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.3.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: py4j==0.10.9.5 in c:\users\shetty_sachin_kumar@lilly.com\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pyspark) (0.10.9.5)

In [10]:
pip install findspark

Requirement already satisfied: findspark in c:\users\shetty_sachin_kumar@lilly.com\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pyspark
from pyspark.sql import SparkSession
import findspark
findspark.init()

In [12]:
session = SparkSession.builder.appName('app').getOrCreate()
print(session)
session

<pyspark.sql.session.SparkSession object at 0x000001BCE9EAE9E0>

In [15]:
dept=[("Finance",20),("Marketing",10),("HR",5),("Sales",50),("Support",40)]
rdd=session.sparkContext.parallelize(dept)
print(type(dept))
print(rdd.collect())
print(rdd.take(2))
print(rdd.collect())
print("RDD Count:", rdd.count())
print(rdd.countByKey())
result = (rdd.filter(lambda x: x[1] > 20).collect())
print(result)
rdd1 = session.sparkContext.parallelize(result)
result2 = (rdd1.filter(lambda x: x[1] > 30).collect())
print(result2)

<class 'list'>
[('Finance', 20), ('Marketing', 10), ('HR', 5), ('Sales', 50), ('Support', 40)]
[('Finance', 20), ('Marketing', 10)]
[('Finance', 20), ('Marketing', 10), ('HR', 5), ('Sales', 50), ('Support', 40)]
RDD Count: 5
defaultdict(<class 'int'>, {'Finance': 1, 'Marketing': 1, 'HR': 1, 'Sales': 1, 'Support': 1})
[('Sales', 50), ('Support', 40)]
[('Sales', 50), ('Support', 40)]

In [16]:
a = rdd.toDF()
print(a)
print(type(a))

DataFrame[_1: string, _2: bigint]
<class 'pyspark.sql.dataframe.DataFrame'>

In [22]:
a.show(truncate=False)
columns = ["Name", "id"]
a = session.createDataFrame(data=dept,schema=columns)
a.filter(a.id == 10).show(truncate=False)
a.coalesce(2)

+---------+---+
|Name     |id |
+---------+---+
|Finance  |20 |
|Marketing|10 |
|HR       |5  |
|Sales    |50 |
|Support  |40 |
+---------+---+

+---------+---+
|Name     |id |
+---------+---+
|Marketing|10 |
+---------+---+

DataFrame[Name: string, id: bigint]

In [23]:
a.rdd.getNumPartitions()
a.repartition(8)

DataFrame[Name: string, id: bigint]

In [24]:
data = session.read.option('header', 'true').csv(f"C:\\Users\\shetty_sachin_kumar@lilly.com\\Downloads\\titanic.csv")
data.show()
print(type(data))

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

<class 'pyspark.sql.dataframe.DataFrame'>

In [25]:
data = [("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)]

In [26]:
data

[('James', '', 'Smith', '36636', 'M', 60000),
 ('Michael', 'Rose', '', '40288', 'M', 70000),
 ('Robert', '', 'Williams', '42114', '', 400000),
 ('Maria', 'Anne', 'Jones', '39192', 'F', 500000),
 ('Jen', 'Mary', 'Brown', '', 'F', 0)]